html {
  scroll-behavior: smooth;
}

:root {
  --grey: #f2f2f2;
  --blue: #0065fc;
  --lightblue: #deebff;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#bloc-page {
  max-width: 1200px;
  padding: 0 30px 0 30px;
  margin: auto;
}

/*TEXTE */

h1,
h2,
h3,
span,
strong {
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 100%;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

/* EN-TÊTE */

*:first-child {
  margin-top: 0;
}

header {
  display: flex;
  margin-bottom: 1.5rem;
}

.logo {
  height: 3rem;
  padding-top: 2rem;
}

nav {
  margin-left: auto;
}

nav a {
  display: block;
  padding: 2rem 1.3rem 0 1.3rem;
  border-top: solid 2px transparent;
}

nav ul {
  display: flex;
  padding-right: 1.3rem;
}

nav a:hover {
  color: var(--blue);
  border-top: solid 2px var(--blue);
}

ul {
  padding-left: 0;
  list-style-type: none;
}

#inscription {
  color: var(--blue);
  font-weight: bold;
  padding-top: 2rem;
  border-top: solid 2px transparent;
}

/* TITRE + SOUS-TITRE */

h1 {
  font-size: 1.3rem;
}

h1 + p {
  font-size: 0.9rem;
  line-height: 0.1rem;
}

/* BARRE DE RECHERCHE */

form {
  display: flex;
  margin-top: 2rem;
}

label i {
  background: var(--grey);
  padding: 1rem 1rem 1rem 1.1rem;
  border-radius: 1rem 0 0 1rem;
}

#recherche {
  background: #fff;
  border: solid 2px var(--grey);
  padding: 0.8rem;
  resize: 25;
}

::placeholder {
  font-weight: bold;
  font-size: 1rem;
}

button {
  font-weight: bold;
  background: var(--blue);
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0 1rem 1rem 0;
}

/* FILTRES */

.bloc_filtres {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  font-weight: bold;
}

.titre_filtres {
  margin-right: 1rem;
}

.filtre {
  border: solid 2px #e7e7e8;
  border-radius: 20px;
  padding: 10px 20px 10px 50px;
  margin: 0 1rem 0.8rem 0;
}

.filtre:hover {
  border: solid 2px var(--lightblue);
  background: var(--lightblue);
}

.left {
  height: 2.7rem;
  width: 2.7rem;
  background: var(--lightblue);
  color: var(--blue);
  border-radius: 20px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  line-height: 45px;
}

/* INFO */

.logements_disponibles {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.logements_disponibles i {
  width: 0.8rem;
  color: var(--blue);
  border: var(--grey) solid 2px;
  border-radius: 50%;
  padding: 3px;
  text-align: center;
  font-size: 0.7rem;
}

.logements_disponibles p {
  font-size: 0.9rem;
  padding-left: 10px;
}

/* SECTION HÉBERGEMENTS + POPULAIRES */

.bloc-hebergements-et-populaires {
  display: flex;
}

.bloc_hebergements,
.bloc_populaires {
  padding: 30px;
  background: var(--grey);
  border-radius: 20px;
}

.bloc_hebergements {
  flex: 2;
  margin-right: 30px;
}

.bloc_populaires {
  flex: 1;
}

.bloc-hebergements-et-populaires article {
  border: #fff solid 4px;
  border-radius: 20px;
  box-shadow: 0 0 20px #d1d1d1;
  overflow: hidden;
}

.bleu {
  color: var(--blue);
  font-size: 0.8rem;
}

.gris {
  color: var(--grey);
  font-size: 0.8rem;
}

article p {
  line-height: 1.6rem;
  margin: 0;
}

/* HÉBERGEMENTS */

.sous-bloc_hebergements {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.sous-bloc_hebergements article {
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 17vw;
  margin-bottom: 2rem;
}

.sous-bloc_hebergements img {
  height: 60%;
  object-fit: cover;
}

.description1 {
  height: 40%;
  background: #fff;
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  font-size: 0.9rem;
}

.plus {
  font-weight: bold;
}

/* POPULAIRES */

.sous-bloc_populaires {
  display: block;
}

h2 i {
  float: right;
}

.sous-bloc_populaires article {
  display: flex;
  height: 130px;
  width: auto;
  margin-bottom: 2rem;
}

.sous-bloc_populaires img {
  height: 130px;
  width: 50%;
  object-fit: cover;
}

.description2 {
  height: 130px;
  width: 50%;
  background: #fff;
  padding: 0.5rem 0.5rem 0.1rem 0.9rem;
  font-size: 0.9rem;
  position: relative;
}

.sous-bloc_populaires span {
  position: absolute;
  bottom: 1rem;
}

/* ACTIVITÉS */

.activites {
  margin: 3rem 0 2rem 0;
}

.bloc_activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bloc_activites article {
  display: flex;
  flex-direction: column;
  width: 22vw;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #d3d3d3;
  margin-bottom: 1rem;
}

.bloc_activites img {
  object-fit: cover;
}

.vieux_port_image,
.calanques_image {
  height: 400px;
}

.fort_image,
.longchamp_image {
  height: 200px;
}

.frioul_image,
.notre_dame_image {
  height: 120px;
}

.fort-frioul,
.dame-longchamp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activites h3 {
  background: #fff;
  padding: 1.5vw 0 1.5vw 1.5vw;
}

/* PIED DE PAGE */

.footer {
  width: 100%;
  background: var(--grey);
}

/* PIED DE PAGE */

.footer {
  width: 100%;
  background: var(--grey);
}

footer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  line-height: 2em;
  max-width: 1200px;
  padding: 30px 30px 20px 30px;
}

footer div {
  padding-right: 14rem;
}

/* RESPONSIVE TABLETTE */

@media (min-width: 501px) and (max-width: 1200px) {
  /* BARRE DE RECHERCHE */

  form {
    margin-bottom: 1rem;
  }

  /* HÉBERGEMENTS + POPULAIRES */

  .bloc-hebergements-et-populaires {
    flex-direction: column-reverse;
  }

  .sous-bloc_populaires img {
    height: 100%;
    width: 40%;
  }

  /* POPULAIRES */

  .bloc_populaires {
    margin-bottom: 2rem;
  }

  .sous-bloc_populaires article {
    height: 200px;
  }

  .description2 {
    height: 100%;
    width: 60%;
    font-size: 1.5rem;
  }

  /* HÉBERGEMENTS */

  .bloc_hebergements {
    margin-right: 0;
  }

  .sous-bloc_hebergements article {
    height: 230px;
    width: 35vw;
  }

  .sous-bloc_hebergements img {
    height: 65%;
  }

  .description1 {
    height: 35%;
  }

  /* ACTIVITÉS */

  .activites article {
    width: 40vw;
  }

  /* PIED DE PAGE */

  footer div {
    padding-right: 5rem;
  }
}

/* RESPONSIVE MOBILE */

@media (min-width: 500px) {
  button i {
    display: none !important;
  }
}

@media (max-width: 500px) {
  #bloc-page {
    padding-left: 0;
    padding-right: 0;
  }

  .logo,
  #inscription,
  header + section,
  .bloc_hebergements,
  .activites {
    margin: 0 5vw 0 5vw;
  }

  /* EN-TÊTE */

  header {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .logo {
    height: 3rem;
    padding-top: 1rem;
  }

  #inscription {
    order: 1;
    margin-left: auto;
  }

  nav {
    order: 2;
    border-top: none;
    width: 100%;
  }

  nav ul {
    padding: 0;
  }

  nav li {
    width: 50%;
  }

  nav a {
    padding-bottom: 1rem;
    border-top: none;
    border-bottom: solid 3px var(--grey);
    text-align: center;
  }

  nav a:hover {
    color: var(--blue);
    border-top: none;
    border-bottom: solid 3px var(--blue);
  }

  /* BARRE DE RECHERCHE */

  form {
    margin-bottom: 2rem;
    position: relative;
  }

  input {
    width: 100%;
    border-radius: 0 1rem 1rem 0;
  }

  button span {
    display: none;
  }

  button i {
    padding: 0.2rem;
  }

  button {
    border-radius: 1rem;
    position: absolute;
    right: 0;
  }

  /* INFO */

  .logements_disponibles {
    align-items: baseline;
  }

  /* HÉBERGEMENTS + POPULAIRES */

  .bloc-hebergements-et-populaires {
    flex-direction: column-reverse;
  }

  /* HÉBERGEMENTS */

  .bloc_hebergements {
    background: #fff;
    padding: 0;
    margin-top: 2rem;
  }

  .sous-bloc_hebergements {
    display: block;
  }

  .bloc_hebergements article {
    width: auto;
    height: 200px;
    margin-bottom: 1rem;
  }

  .description1 {
    padding: 2%;
  }

  /* POPULAIRES */

  .bloc_populaires {
    border-radius: 0;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .bloc_populaires article {
    margin-bottom: 1em;
  }

  .sous-bloc_populaires img {
    width: 45%;
  }

  .description2 {
    width: 55%;
  }

  /* ACTIVITÉS */

  .activites {
    margin-top: 2rem;
  }

  .bloc_activites {
    display: block;
  }

  .activites article {
    height: 200px;
    width: auto;
  }

  .activites img {
    height: 75%;
  }

  .activites h3 {
    height: 25%;
    padding: 5%;
  }

  /* PIED DE PAGE */

  footer {
    flex-direction: column;
  }

  footer div {
    padding: 5vw 5vw 1vw 0;
    font-size: 1.2rem;
  }
}
