html {
  scroll-behavior: smooth;
}

:root {
  --grey: #f2f2f2;
  --blue: #0065fc;
  --lightblue: #deebff;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#bloc-page {
  max-width: 75rem;
  margin: auto;
}

/*TEXTE */

h1,
h2,
h3,
span,
strong {
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 100%;
  padding: 0px;
  margin: 0px;
}

a {
  color: #000;
  text-decoration: none;
}

/* EN-TÊTE */

*:first-child {
  margin-top: 0;
}

header {
  display: flex;
  margin-bottom: 1.5rem;
}

.logo {
  height: 3rem;
  padding-top: 2rem;
}

nav {
  margin-left: auto;
}

header a {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  display: block;
  padding-top: 2rem;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  border-top: solid 2px transparent;
}

nav ul {
  display: flex;
  padding-right: 1.3rem;
}

nav a:hover {
  color: var(--blue);
  border-top: solid 2px var(--blue);
}

ul {
  padding-left: 0;
  list-style-type: none;
}

#inscription {
  color: var(--blue);
  font-weight: bold;
  padding-top: 2rem;
  border-top: solid 2px transparent;
}

/* TITRE + SOUS-TITRE */

h1 {
  font-size: 1.3rem;
}

h1 + p {
  font-size: 0.9rem;
  line-height: 0.1rem;
}

/* BARRE DE RECHERCHE */

form {
  display: flex;
  margin-top: 2rem;
  font-family: "Raleway", sans-serif;
}

label i {
  background: var(--grey);
  padding: 1rem 1rem 1rem 1.1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#recherche {
  background: #fff;
  border: solid 2px var(--grey);
  padding: 0.8rem;
}

::placeholder {
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}

button {
  font-weight: bold;
  background: var(--blue);
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* FILTRES */

.bloc_filtres {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  align-items: center;
  font-weight: bold;
}

.titre_filtres {
  margin-right: 1rem;
}

.filtre {
  display: flex;
  border: solid 2px #e7e7e8;
  border-radius: 20px;
  padding: 10px 20px 10px 50px;
  margin-right: 1rem;
  margin-bottom: 0.8rem;
}

.filtre:hover {
  border: solid 2px var(--lightblue);
  background: var(--lightblue);
}

.left {
  height: 2.16em;
  width: 2.16em;
  background: #deebff;
  color: #0065fc;
  border-radius: 20px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}

/* INFO */

.logements_disponibles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.8rem;
}

.logements_disponibles i {
  width: 0.8rem;
  color: var(--blue);
  border: var(--grey) solid 2px;
  border-radius: 20px;
  padding: 3px;
  text-align: center;
  font-size: 0.7rem;
}

.logements_disponibles p {
  font-size: 0.9rem;
  padding-left: 10px;
}

/* SECTION HÉBERGEMENTS + POPULAIRES */

.bloc-hebergements-et-populaires {
  display: flex;
}

.bloc_hebergements {
  flex: 2;
  margin-right: 30px;
  padding: 30px;
  background: var(--grey);
  border-radius: 20px;
}

.bloc_populaires {
  flex: 1;
  padding: 30px;
  background: var(--grey);
  border-radius: 20px;
  position: relative;
}

.bleu {
  color: var(--blue);
  font-size: 0.8rem;
}

.gris {
  color: var(--grey);
  font-size: 0.8rem;
}

article p {
  line-height: 1.6rem;
  margin: 0;
}

/* HÉBERGEMENTS */

.sous-bloc_hebergements {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.sous-bloc_hebergements article {
  height: 190px;
  width: 210px;
  position: relative;
  border: #fff solid 4px;
  border-radius: 20px;
  box-shadow: 0 0 20px #d1d1d1;
  margin-bottom: 1.5rem;
}

.cannebiere_image {
  background: url(images/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg)
    no-repeat;
  background-size: contain;
}

.port_image {
  background: url(images/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg)
    no-repeat;
  background-size: contain;
}

.mouettes_image {
  background: url(images/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg)
    no-repeat;
  background-size: contain;
}

.mer_image {
  background: url(images/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg)
    no-repeat;
  background-size: cover;
  background-position: left 0px top -50px;
}

.panier_image {
  background: url(images/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg)
    no-repeat;
  background-size: cover;
  background-position: left 0px top -30px;
}

.amina_image {
  background: url(images/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg)
    no-repeat;
  background-size: cover;
  background-position: left 0px top -100px;
}

.description1 {
  width: 200px;
  background: #fff;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 10px 10px;
  padding: 5px 0px 5px 10px;
  font-size: 0.9rem;
}

.plus {
  font-weight: bold;
}

/* POPULAIRES */

.sous-bloc_populaires {
  display: flex;
  flex-direction: column;
}

.bottom {
  position: absolute;
  bottom: 10px;
}

h2 i {
  float: right;
}

.sous-bloc_populaires article {
  height: 130px;
  width: 340px;
  position: relative;
  border: #fff solid 4px;
  border-radius: 20px;
  box-shadow: 0 0 20px #d1d1d1;
  margin-bottom: 2rem;
}

.soleil_image {
  background: url(images/hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg)
    no-repeat;
  background-size: contain;
}

.eau_image {
  background: url(images/hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg)
    no-repeat;
  background-size: contain;
}

.bleu_blanc_image {
  background: url(images/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg)
    no-repeat;
  background-size: cover;
  background-position: left -50px top -250px;
}

.description2 {
  height: 120px;
  width: 200px;
  background: #fff;
  right: 0px;
  border-radius: 0 10px 10px 0;
  padding: 5px 5px 5px 15px;
  font-size: 0.9rem;
  position: absolute;
}

/* ACTIVITÉS */

.activites {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.bloc_activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bloc_activites article {
  width: 280px;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 10px #d3d3d3;
  margin-bottom: 2rem;
}

.vieux_port_image {
  height: 400px;
  background: url(images/activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg)
    no-repeat;
}

.fort_image {
  height: 220px;
  background: url(images/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg)
    no-repeat;
  background-position: left 0px top -100px;
}

.frioul_image {
  height: 150px;
  background: url(images/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg)
    no-repeat;
  background-position: left 0px top -20px;
}

.calanques_image {
  height: 400px;
  background: url(images/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg)
    no-repeat;
  background-position: left -130px top 0;
}

.notre_dame_image {
  height: 170px;
  background: url(images/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg)
    no-repeat;
}

.longchamp_image {
  height: 200px;
  background: url(images/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg)
    no-repeat;
}

.activites h3 {
  width: 240px;
  background: #fff;
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 20px 20px;
  padding: 20px 20px 20px 20px;
}

/* PIED DE PAGE */

.footer {
  width: 100%;
  background: var(--grey);
}

footer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  line-height: 2em;
  max-width: 75rem;
  padding: 30px 0 20px 0;
}

footer div {
  padding-right: 14rem;
}

/* MEDIA QUERIES TABLETTE */

@media (min-width: 768px) and (max-width: 1024px) {
  #bloc-page {
    max-width: 95%;
  }

  /* BARRE DE RECHERCHE */

  form {
    margin-bottom: 2rem;
  }

  /* HÉBERGEMENTS + POPULAIRES */

  .bloc-hebergements-et-populaires {
    flex-direction: column-reverse;
  }

  /* POPULAIRES */

  .bloc_populaires {
    margin-bottom: 2rem;
  }

  .sous-bloc_populaires article {
    height: 220px;
    width: 100%;
    background-size: cover;
  }

  .soleil_image {
    background-position: left 0px top -200px;
  }

  .eau_image {
    background-position: left -200px top -200px;
  }

  .bleu_blanc_image {
    background-position: left -100px top -500px;
  }

  .description2 {
    height: 210px;
    border-radius: 0 10px 10px 0;
    font-size: 1.2rem;
  }

  /* HÉBERGEMENTS */

  .bloc_hebergements {
    margin-right: 0;
  }

  .sous-bloc_hebergements {
    display: block;
  }

  .sous-bloc_hebergements article {
    height: 220px;
    width: 100%;
    background-size: cover;
  }

  .description1 {
    height: 210px;
    border-radius: 10px 0 0 10px;
    font-size: 1.2rem;
  }

  .cannebiere_image,
  .panier_image {
    background-position: left 0 top -50px;
  }

  .port_image,
  .mouettes_image {
    background-position: left 130px top -210px;
  }

  .mer_image {
    background-position: left 0 top -250px;
  }

  .amina_image {
    background-position: left 0 top -450px;
  }

  /* ACTIVITÉS */

  .activites article {
    width: 350px;
  }

  .activites h3 {
    width: 310px;
  }

  .fort_image {
    background-position: left 0 top -230px;
  }

  .frioul_image {
    background-position: left 0 top -100px;
  }

  .notre_dame_image {
    background-position: left 0 top -30px;
  }

  .longchamp_image {
    background-position: left 0 top -50px;
  }

  /* PIED DE PAGE */

  footer {
    max-width: 95%;
  }

  footer div {
    padding-right: 5rem;
  }
}
